<div class="mat-card text-center">
    <h1> Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <!-- {{category | json}} -->
                    <form action="">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title </mat-label>
                                <input type="text" required name="title" [(ngModel)] = "category.title" matInput placeholder="Enter here" />                    
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Category Description </mat-label>
                                <textarea  name="description" required [(ngModel)] = "category.description" matInput placeholder="Enter Category description" rows="20" ></textarea>                    
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary" (click)="AddCat()"> Add </button>
                            <button type="reset" mat-raised-button color="primary" style="margin-left: 5px"> Reset </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</div>