<div class="bootstrap-wrapper">
  <div class="row" style="margin-top: 20">
    <div class="col-md-10">
      <h1>
          Update Question Here...
      </h1>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            Enter the detail of new subtitle
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form action="">
            <!-- <mat-form-field   class="w100">
              <mat-label  >Write Question Content</mat-label>
              <textarea required
                name = "content"
                [(ngModel)]="question.content"
                rows="8"
                matInput
                placeholder="Ex. It makes me feel..."
              ></textarea>
            </mat-form-field> -->
            <ckeditor
              [editor]="Editor"
              name="content"
              [(ngModel)]="question.content"
            >
            </ckeditor>

            <div class="row" style="margin-top: 12px">
              <div class="col-md-6">
                <mat-form-field class="w100" >
                  <mat-label> Enter Option 1 </mat-label>
                  <input
                    name="option1"
                    [(ngModel)]="question.option1"
                    required
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-label> Enter Option 2 </mat-label>
                  <input
                    name="option2"
                    [(ngModel)]="question.option2"
                    required
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-label> Enter Option 3 </mat-label>
                  <input
                    name="option3"
                    [(ngModel)]="question.option3"
                    required
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-label> Enter Option 4 </mat-label>
                  <input
                    name="option4"
                    [(ngModel)]="question.option4"
                    required
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
            </div>

            <mat-form-field required class="w100">
              <mat-label>Select answere</mat-label>
              <mat-select [(ngModel)]="question.answer" name="answer">
                <mat-option
                  *ngIf="question.option1"
                  [value]="question.option1"
                  >{{ question.option1 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option2"
                  [value]="question.option2"
                  >{{ question.option2 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option3"
                  [value]="question.option3"
                  >{{ question.option3 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option4"
                  [value]="question.option4"
                  >{{ question.option4 }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </form>

          <div class="container text-center">
            <button mat-raised-button color="primary"  (click)="UpdateQuestion()">
              Click Here to Update 
            </button>
            <button
              mat-raised-button
              color="primary"
              type="reset"
              style="margin-left: 5px"
            >
              Reset
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- {{ question | json }} -->

